{% extends 'base.html' %}

{% block title %}Admin: Add user{% endblock %}

{% block content %}
{% include 'navigation.html'%}
<div class="row row-content">
           <div class="col-sm-6 col-sm-offset-3"> 
              <h3>Add New Employee</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
                <form class="form-horizontal" role="form" action="{% url 'backend:admin' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control req" id="first_name" name="first_name" placeholder="Enter First Name" value = "" required>
                            {{ form.errors.first_name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control req" id="last_name" name="last_name" placeholder="Enter Last Name" value="" required>
                            {{ form.errors.last_name }}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="employment_date" class="col-sm-2 control-label">Employment Date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control req" id="employment_date" name="employment_date" placeholder="" required>
                            {{ form.errors.employment_date }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control req" id="username" name="username" placeholder="Enter Username" value="" required>
                            {{ form.errors.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        
                        <div class="col-sm-10">
                            <input type="password" class="form-control req" id="password" name="password" placeholder="password" value="" required>
                            {{ form.errors.password }}
                        </div>

                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" id="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
            
       </div>
    </div>
</div>

{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}

{% block javascript_2 %}
<script>
  $( function() {
    $( "#employment_date" ).datepicker();
    
  } );
  </script>
{% endblock %}
